body {
  margin: 0;
   * {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }
}

p {
  max-width: 40em;
  margin: auto;
}

#roof {
	height: 7vh;
	background-color: #2c698e;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#main-menu {

    display:flex;
    align-items:right;
    flex-direction: column;
    position: absolute;
    // top: 3em;
    right: 0;
    /*background: teal;*/
    height: auto;
    width: 100%;
    content: "X";
  

    a {
      color: white;
      text-decoration: none;
      padding: .5em;
      border-radius: 5em;
      &:hover {
        background-color:gray;
      }
    }

  @media (min-width: 780px ) {

      height: 100%;
      background-color: #2c698e;
      display:flex;
      flex-direction: row;
      position: fixed;
      // top: 3em;
      // right: 0;
      /*background: teal;*/
      height: auto;
      width: 100%;
      justify-content: flex-end;
      // align-items: center;
      margin: 0;
      padding: 1em;
    
  }
}

#mobile-menu {
  display:none;
  float:right;
}

#mobile-menu:hover + div {
  display: flex;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#brick1 {
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-end;
	height: 100vh;
  /*overflow: hidden;*/
  width: 100%;
	/*position: absolute;*/
  background-position: center center;
  background-size: cover;
  /*padding: 200px 0 300px 0;*/
  background-image: url('placeholder.jpg');
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), black);
    opacity: .7; 
  }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#branding {
  display: flex;
  flex-direction: column;
  z-index: 2;
  /*padding: 1%;
  background-color: #808080a3;*/
}

.logo {
  /*position: relative;*/
  z-index: 1;
  color: #0678be;
  font-size: 4em;
  /*margin:auto;*/
  /*animation: fadein 1.5s;*/

}

.intro {
   /*display:block;*/
   color:white;
   /*animation: fadein 1.5s;*/
}

#brick2 {
  background-color: white;
	padding: 2% 1%;
}


#services-grid {
	display: flex;
  justify-content: space-around;
  max-width: 80em;
  margin:auto;
  /*align-items: stretch;*/
}

.cell {
	/*min-height: 400px;*/
	background: #77a6c3;
  max-width: 28%;
	/*flex: 3;*/
  flex-grow: 1;
  /*margin:auto;*/
  padding: 1em 1em;
	/*margin-right:20px;*/
}

.price {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-family: Parisienne;
  font-size: calc(9vw + 8px);
  color: white;
  margin-bottom: calc(-3vw - 4px);
}

h2 {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  margin-top:0;
  /*margin-bottom: 1em;*/

}

h3 {
  margin-top:0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

#brick3 {
	/*height:30em;*/
	background-color:whitesmoke;
  padding: 2% 1%;
}

#brick4 {
  /*height:auto;*/
  background-color:white;
  padding: 2% 1%;
}

#brick5 {
  /*height:auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:whitesmoke;
  padding: 2% 1%;
}

form#contact {
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

form#contact>*{
  margin:.3em 0;
}

#floor {
	height: 4em;
	background-color: #9d9d9d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img, video {
	max-width: 100%;
	height: auto;
}

.button {
  align-self: right;
  max-width: 30%;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background: #0678be;
  color: white;
}

/*Mobile*/
@media (max-width: 780px) {
  #services-grid {
    flex-direction: column;
  }

  .cell {
    max-width: 100%;
    margin-bottom: 5px;
  }

  #floor {
    flex-direction: column;
  }

  #main-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3em;
    right: 0;
    /*background: teal;*/
    height: auto;
    width: 100%;
  }

  #mobile-menu {
    display: block;
  }
}
